<?xml version="1.0" ?>
<model>
    <name>line_follower</name>
    <version>1.0</version>
    <sdf version="1.9">model.sdf</sdf>
    <author>
        <name>olile11</name>
        <email>lehindequi@gmail.com</email>
    </author>
    <description>test world for cv based line follower</description>
</model>
